#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.Wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainArea {
    margin-top: 40px;
}

.Canvas {
    width: 700px;
    height: 500px;
    border: 3px dashed #313352;
    background-color: #6e6696;
}

.Menu {
    padding: 10px;
    margin-top: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.Input {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}

.Buttons button {
    background-color: #af5b7f;
}

.Reset {
    background-color: #e31764;
}

.Cube {
    margin-right: 10px;
}
