.app {
  background-color: purple;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-field {
  width: 65%;
  height: 65%;
  background-color: plum;
  border-radius: 20px;
}
