#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainArea {
  margin-top: 40px;
}

.Svg {
  width: 700px;
  height: 500px;
  border: 3px dashed #313352;
  background-color: #6e6696;
}

.Menu {
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 10px;
}

.Input {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}

.Input label {
  width: 100px;
}

.GridCell {
  stroke: #ccc;
  stroke-width: 1;
  fill: none;
  stroke-dasharray: 2;
}

.debugCheckbox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.debugSettings {
  display: flex;
}

button {
  margin: auto;
  margin-top: 10px;
}

.Buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px; 
}

.Buttons button {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 18px;
  border-radius: 10px;

}

.Run {
  background-color: #af5b7f;
  
}

.Step {
  background-color: #f386a7;
}

.Reset {
  background-color: #e31764;
}