button {
    font-size: 15px;
    padding: 10px 20px;
    margin: 20px;
}

.nav-bar {
    position: relative;
}

.buttons-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 60%;
}

.buttons-left button {
    margin-right: 10px;
    width: 200px;
}

.button-right {
    position: absolute;
    top: 0;
    right: 0;
}
