.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 20px;
  background-color: #f4f7fb;
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.controls {
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.rangeInput {
  width: 100%;
  margin-top: 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playButton {
  width: 100%;
  padding: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.playButtonHover {
  background-color: #0056b3;
}

.navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.operationsList {
  list-style: none;
  padding: 0;
}

.operationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.deleteButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}

.addOperation {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.textInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.addButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.notification {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
